<div class="palette-back" id="palette-back" hidden>
  <div class="palette" id="palette-inner">
    <input id="palette-input" placeholder="Type a section, link or command…" autocomplete="off">
    <ul id="palette-list"></ul>
  </div>
</div>
